[submodule "dojo3/lib/forge-std"]
	path = dojo3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Backend (Solidity)/dojo3/lib/forge-std"]
	path = Backend (Solidity)/dojo3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
